@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import '../../public/font.css';
@import 'normalize.css';


:root, body {
    font-family: 'Zhizn';
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background: url('/main_bg.jpg');
    background-size: 100% 120%;
    background-position: center 20px;
    background-repeat: initial;
    background-attachment: fixed; 
    overflow-x: hidden ;
    /* background: #000; */
    /* display: flex; */
    
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.87); /* затемнення */
  z-index: -1;
}
h2, h3, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 992px) {
  body {
    background-size: cover;
    background-position: center top;
  }
}
