/* components/DonationTracker.module.css */

.donation_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-wrap: nowrap;
}

.donation_field {
  width: 350px;
  height: 44px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.donation_fill_block {
  height: 25px;
  background: #000;
  border: 1px solid rgba(189, 0, 0, 1);
  border-radius: 12px;
}

.donation_fill {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s ease;
  overflow: hidden;
}

.donation_fill img {
  height: 100%;
  width: auto;
  object-fit: none;
  object-position: left top;
  display: block;
  user-select: none;
  pointer-events: none;
}

.donation_count {
  font-family: 'Cloister', serif; /* Переконайся, що шрифт підключено глобально */
  font-weight: 300;
  font-size: 40px;
  color: #FFFEFE;
  text-shadow: 0 1px rgba(255, 0, 0, 1);
  padding-bottom: 10px;
}

.donation_button {
  width: 250px;
  height: auto;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.donation_button img {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .donation_section {
    gap: 20px;
  }

  .donation_field {
    width: 240px;
  }

  .donation_count {
    font-size: 28px;
  }

  .donation_button {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .donation_count {
    font-size: 24px;
  }

  .donation_field {
    width: 200px;
  }

  .donation_button {
    width: 160px;
  }
}

@media (max-width: 576px) {
  .donation_count {
    font-size: 20px;
  }

  .donation_field {
    width: 170px;
  }

  .donation_button {
    width: 140px;
  }
}

@media (orientation: portrait) and (max-width: 900px) {
  .donation_field {
    width: 180px;
  }

  .donation_count {
    font-size: 20px;
  }

  .donation_button {
    width: 140px;
  }
}

@media (orientation: portrait) and (max-width: 576px) {
  .donation_field {
    width: 150px;
  }

  .donation_count {
    font-size: 18px;
  }

  .donation_button {
    width: 120px;
  }
}
