.header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


.logo { 
    width: 100%;   
    max-width: 300px;
    height: auto;
}

.nav_select {
    width: 200px;
}